# Visual Studio specific files
bin/
obj/
packages/
.vs/
*.suo
*.user
*.csproj.user
*.vbproj.user
*.resx
*.sln
*.db
*.log
*.ps1
*.psm1
*.targets
*.props
*.psdsc
*.pdb
*.exe
*.dll
*.manifest
*.xml
*.config
*.tmp
*.cache
*.pyproj
*.py
*.pyc
*.ipynb
*.ipyz
*.egg-info/
*.pytest/
*.venv/
*.coverage/
*.idea/
*.git/
*.vscode/
