<!DOCTYPE html>
    <html>
    <head>
        <title>Campanha do Pãozinho</title>
    </head>
    <body>
        <h1>Página da Campanha</h1>
        <p>Está rodando normalmente.</p>
    </body>
    </html>