/*Geral*/
#root {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

.button-red {
  background-color: #6B240C;
  color: white;
  padding: 1.5rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

.titulo-h1 {
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
  background-color: #6B240C;
  padding: 50px;
  color: #FFF8E1;
}

/*Header*/
#header {
  background-color: #FFCB7C;
  display: flex;
  justify-content: space-between;
  height: 5rem;
}

.header-menu {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 500;
}

.header-menu a {
  margin: 1rem;
  text-decoration: none;
  color: #212121;
  height: 30px;
}

.header-menu a:hover {
  color: #6B240C;
}

.header-image-logo {
  width: 5rem;
}

.header-image-letter {
  width: 25rem;
}

/*Banner*/
#banner {
  background-image: linear-gradient(to bottom,
      #6B240C,
      rgba(255, 203, 124, 0.5)), url("./assets/pessoa-campa1.jpg");
  background-size: cover;
  background-color: #cccccc;
  height: 55rem;
  color: white;
  padding: 10em;
}

#banner h1 {
  margin-top: 0;
  font-weight: 700;
  font-style: normal;
  font-size: 7rem;
}

#banner h3 {
  font-weight: 500;
  font-style: normal;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

#banner h4 {
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;
  margin-top: 0px;
}

/*Area Dados*/
#area-dados {
  background-color: #FFF8E1;
  padding-top: 80px;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

#area-dados-info {
  text-align: center;
  margin: 0px 250px;
}

#area-dados-info h1 {
  text-transform: uppercase;
  font-size: 4rem;
  margin-top: 0;
}

#area-dados-info h3 {
  font-weight: 400;
}

#area-dados-data {
  display: flex;
  justify-content: space-between;
  margin: 50px 100px;
}

#area-dados-data div {
  text-align: center;
}

#area-dados-data span {
  font-weight: bolder;
  font-size: 6rem;
}

#area-dados-data p {
  font-weight: 300;
  font-size: 1.5rem;
}


/*Area Doação*/
#area-doacao {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.area-doacao-info h1 {
  text-transform: uppercase;
}

.area-doacao-info h3 {
  font-weight: 400;
}

.area-doacao-info {
  margin: 50px;
  width: 30%;
}

.area-doacao-blocos div {
  display: flex;
  align-items: center;
}

.area-doacao-blocos span {
  padding: 50px;
  margin: 10px;
  width: 200px;
  height: 150px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
  font-weight: 600;
  background-color: #6B240C;
  color: white;
  cursor: pointer;
}

.area-doacao-blocos span:hover {
  background-color: #FFCB7C;
  color: #212121;
  transition: 0.3s;
}


/*Area voluntário*/
#area-voluntario {
  display: flex;
  justify-content: space-evenly;
}

.area-voluntario-texto {
  text-align: center;
  font-size: 4rem;
}

#area-voluntario div {
  border: #212121;
  border-style: solid;
  background-size: cover;
  background-color: #cccccc;
  color: white;
  width: 20rem;
  height: 30rem;
  text-align: center;
}

.area-voluntario-info-1 {
  background-image: linear-gradient(to bottom,
      #6B240C,
      rgba(255, 203, 124, 0.5)), url("./assets/imagem-campanha-grupo1.jpeg");
}

.area-voluntario-info-1:hover {
  background-image: url("./assets/imagem-campanha-grupo1.jpeg");
}

.area-voluntario-info-1:hover p {
  color: #212121;
  background-color: #FFCB7C;
}

.area-voluntario-info-2:hover {
  background-image: url("./assets/imagem-campanha-grupo2.jpeg");
}

.area-voluntario-info-2:hover p {
  color: #212121;
  background-color: #FFCB7C;
}

.area-voluntario-info-3:hover {
  background-image: url("./assets/imagem-campanha-grupo3.jpeg");
}

.area-voluntario-info-3:hover p {
  color: #212121;
  background-color: #FFCB7C;
}

.area-voluntario-info-2 {
  background-image: linear-gradient(to bottom,
      #6B240C,
      rgba(255, 203, 124, 0.5)), url("./assets/imagem-campanha-grupo2.jpeg");
}

.area-voluntario-info-3 {
  background-image: linear-gradient(to bottom,
      #6B240C,
      rgba(255, 203, 124, 0.5)), url("./assets/imagem-campanha-grupo3.jpeg");
}

#area-voluntario div p {
  font-size: 1.8rem;
  font-weight: 600;
}

/*Rodapé*/

#rodape {
  background-color: #6B240C;
  color: white;
  margin-top: 150px;
  margin-bottom: 0;
}

#rodape-cima {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.rodape-cima-local {
  margin-left: 20px;
}

.rodape-cima-sites {
  display: flex;
}

.rodape-cima-sites div {
  margin: 20px;
}

.rodape-cima-sites a {
  text-decoration: none;
  color: white;
}

.rodape-cima-social {
  margin-right: 20px;
  text-align: center;
}

#rodape-baixo {
  text-align: center;
}

#rodape-baixo p {
  margin-bottom: 0;
}

/*Modal*/

.modal-doacao {
  width: 40rem;
  height: 35rem;
  text-align: center;
}

.modal-doacao p:not(.modal-doacao-line) {
  font-weight: 400;
}

.modal-doacao::backdrop {
  background: rgba(0, 0, 0, 0.9);
}

.modal-doacao img {
  width: 300px;
}

.modal-doacao-line {
  border-style: solid;
  border: 1px solid #FFCB7C;
  max-width: 100%;
  overflow: inherit;
  font-weight: 600;
  cursor: pointer;
}

/*Pagina Sobre*/


.pagina-sobre-bloco {
  display: flex;
  align-items: center;
}

.pagina-sobre-bloco img {
  width: 30rem;
  margin: 40px 30px 5px 30px;
}

.pagina-sobre-bloco p {
  margin: 30px;
  font-weight: 500;
  font-size: 1.6rem;
  color: #6B240C;
  text-align: justify;
}

#pagina-sobre {
  margin: 100px 80px 50px 80px;
}

.pagina-sobre-bloco-legenda p {
  font-size: 1rem;
  color: #212121;
  margin-top: 1px;
}

/*Página Como Ajudar*/

#pagina-ajudar {
  margin: 100px 80px 50px 80px;
}

.pagina-ajudar-bloco {
  display: flex;
  border: solid #6B240C;
  border-width: 0 0 3px 0;
  margin: 80px 80px 80px 0;
}

.pagina-ajudar-bloco-texto p {
  text-align: justify;
  font-weight: 400;
}

.pagina-ajudar-bloco-linha {
  display: flex;
  justify-content: center;
}

.pagina-ajudar-bloco img {
  border-radius: 50%;
  border: 1px solid #212121;
  width: 150px;
  height: 150px;
  margin: 0 20px 20px 0;
  object-fit: cover;
}

.pagina-ajudar-bloco-texto a {
  cursor: pointer;
  text-decoration: none;
  color: #6B240C;
}

/*Parceiros*/

.slider {
  margin: 0 20px;
  overflow: "hidden";
  padding: 2rem 0;
}

.slider img {
  width: 100%;
  border-radius: 10px;
}

.parceiro-texto-invisivel {
  display: none;
}

.parceiro-bloco {
  margin: 2rem 8rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.parceiro-bloco h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  color: #6B240C;
}

.parceiro-bloco P {
  text-align: justify;
  font-size: 1.5rem;
}

.parceiro-bloco img {
  width: 30rem;
}

.parceiro-bloco span {
  font-size: 1rem;
}

/* Fale Conosco */
form {
  width: 90%;
  max-width: 40rem;
  margin: 3rem auto;
  padding: 2rem;
  background: linear-gradient(180deg, #212121, #6B240C);
  border-radius: 8px;
  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.5);
  color: #FFF8E1;
}

label {
  text-transform: uppercase;
}

.form-contato-dados {
  display: flex;
}

.form-contato-campo {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 90%;
}

.form-contato-mensagem {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.button-form {
  background-color: #FFCB7C;
  color: #212121;
  padding: 1rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.form-contato-botao {
  display: flex;
  justify-content: center;
}