/*Geral*/
#root {
  font-family: "Roboto", sans-serif;
}

/*Header*/
#header {
  background-color: #FFCB7C;
  display: flex;
  justify-content: space-between;
}

.header-menu {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.header-menu a {
  margin: 1rem;
  text-decoration: none;
  color: #212121;
}

.header-logo img {
  width: 150px;
}

.header-button {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.header-button button {
  background-color: #6B240C;
  color: white;
  padding: 0.8rem;
  border: none;
  cursor: pointer;
}

/*Banner*/
#banner {
  background-image: linear-gradient(to bottom,
      #6B240C,
      rgba(255, 203, 124, 0.5)), url("./assets/pessoa-campa1.jpg");
  background-size: cover;
  background-color: #cccccc;
  height: 55rem;
  color: white;
  padding: 10em;
}

#banner h1 {
  margin-top: 0;
  font-weight: 700;
  font-style: normal;
  font-size: 7rem;
}